#header {
  margin-bottom: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#content {
  padding-bottom: 40px;
}

#body {
  background-color: #f4f4f4;
}

.username {
  margin-right: 20px;
}

.inline-icon {
  margin-right: 1em;
}

.mymodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(244, 244, 244);
  z-index: 10;
}

.modal-organ {
  padding: 1em;
  position: fixed;
  background: rgb(255, 255, 255);
  width: 85%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.modal-main, .modal-organ {
  padding: 1em;
  position: fixed;
  background: white;
  width: 85%;

  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:visible;
}

.modal-main {

  width: 60%;

}

#unityContainer {
  overflow:scroll;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.invisible {
  visibility: hidden;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #212529;
  text-align: left;
  font-size: 1.25rem;
  caption-side: top;
}

.div-border {
  padding: 0.5em;
  margin: 1em 0;
  border-width: 0.2rem;
  border: solid #929699;
  border-radius: 15px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.scrollbar-div {
  height: 300px;
  overflow: auto;
}

.display-block {
  display: block !important;
}

.badge-purple {
  color: #fff;
  background-color: #9933cc;
}

.nowrap {
  white-space: nowrap;
}

.checkb img{
	padding-left:20px;
	padding-top:10px;
}

.no-checkb{
	padding-left:20px;
}

.add-multi {
  width:60%;	
}

.lab-id-modal .modal-main{
   width:60%;	
}

.locmodal {
  position: fixed;
  top: 40%;
  left: 40%;
  width: 38%;
  height: 33%;
  background: rgb(211, 215, 207);
  z-index: 10;
  overflow:scroll;


}

.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 0px 0px 0;
    transition: all .8s;
    width: 100%;
    overflow:scroll;
}

.modal-wrapper h3{
	margin:30px;
	text-align:center;
}

.modal-body {
    padding: 10px 35px;
    text-align: left;
}

.close-modal-btn {
    color: black;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}

.rui {
  z-index: 100;
}

.rui .footer{
   background-color:greenyellow;
}

.closeScreen {
	float:right;
	font-weight:bold;
	padding: 0 10px;		
}

.mod-id, .mod-check1, .mod-reg1, .mod-view2, 
.mod-reg2, .mod-check2, .mod-view1, .col-title{
/**.mod-reg2, .mod-check2, .mod-view1{*/
	font-size:1.0em;
	font-weight:bold;
}

.mod-view1 {
	width:125px;
}

.mod-id {
	width:350px;
	margin-left: -150px;
}

.mod-reg2{ 
	margin-left:95px;	
}

.mod-reg1{ 
	margin-left:-60px;	
}

.mod-view1{
	margin-left:115px;	
}
.mod-check1, .mod-reg1 {
	width:120px;
}

.mod-check1{
	margin-left:0px;
}


.text-left{
	padding-top:7px;
}



.btn-space {
    margin-right: 5px;
}


.App .navbar-dark .navbar-nav .nav-link{
    font-weight:bold;   
    color: rgba(255, 255, 255, 1.0);
}

.App .bg-primary, .App .button-primary {
    background-color: #444a65 !important;
}

 .container {
    width:100%;
    padding:20px 0 20px;
}

 #content {
    padding:20px 0;
 }

.mod-check2 {
   margin-left:120px;
}

.mod-view2 {
  margin-left:85px;

}

.errHeader{
	margin-top:40px;
	text-align:center;
	font-weight:bold;
}

.errBody{
	margin:30px;
	font-size:1.2em;
	color:#821a1a;
}

.Collection a, a:not([href]).ttip{
	color:blue;
}

.colcontainer{
	columns:2 auto;
}

.dataset{
	margin-left:-7px;
}

.Collection h4{
	font-weight:bold;
}


