# Development, no trailing slash
REACT_APP_BACKEND_URL = 'http://localhost:8484'
REACT_APP_SPECIMEN_API_URL = 'http://localhost:8585'
REACT_APP_METADATA_API_URL = 'http://localhost:8585'
REACT_APP_URL = 'http://localhost:8585'
REACT_APP_PROFILE_URL = 'http://profile.dev.hubmapconsortium.org'
REACT_APP_DATAINGEST_API_URL = 'http://localhost:8585'
REACT_APP_READ_ONLY_GROUP_ID = '5777527e-ec11-11e8-ab41-0af86edb4424'

# Production, no trailing slash
#REACT_APP_BACKEND_URL = 'https://uuid.hubmapconsortium.org'
#REACT_APP_SPECIMEN_API_URL = 'https://uuid.hubmapconsortium.org'
#REACT_APP_METADATA_API_URL = 'https://uuid.hubmapconsortium.org'
#REACT_APP_URL = 'https://uuid.hubmapconsortium.org'
#REACT_APP_PROFILE_URL = 'https://profile.hubmapconsortium.org'
#REACT_APP_DATAINGEST_API_URL = 'https://uuid.hubmapconsortium.org'
#REACT_APP_READ_ONLY_GROUP_ID = '5777527e-ec11-11e8-ab41-0af86edb4424'
