# Byte-compiled / optimized / DLL files
**/__pycache__/

# Docker copied stuff
docker/ingest-api/src

# Ignore log files created by docker
log/*

# ingest-api
src/ingest-api/instance/app.cfg

# flask-app
src/flask-app/venv
src/flask-app/instance/app.cfg
src/flask-app/__pycache__
src/flask-app/Pipfile
src/flask-app/Pipfile.lock

# react-app
src/react-app/node_modules
src/react-app/.pnp
src/react-app/.pnp.js

# testing
src/react-app/coverage

# .env. files (not the .env file)
src/react-app/.env.*
!src/react-app/.env.production.local.example

# misc
src/react-app/.DS_Store
src/react-app/npm-debug.log*
src/react-app/yarn-debug.log*
src/react-app/yarn-error.log*

# editor
.vscode
src/Pipfile
src/Pipfile.lock
