#ignore emacs backup files
*~

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Docker copied stuff
docker/ingest-api-localhost/src
docker/ingest-api-dev/src
docker/ingest-api-test/src
docker/ingest-api-stage/src
docker/ingest-api-prod/src
docker/ingest-ui/src

# Ignore log files created by docker
log/*.log
src/log/*.log

# ingest-api
src/ingest-api/instance/app.cfg

# UI react-app
src/ingest-ui/node_modules
src/ingest-ui/.env
src/ingest-ui/.pnp
src/ingest-ui/.pnp.js

# testing
src/react-app/coverage

# .env. files (not the .env file)
src/ingest-ui/.env.*
!src/ingest-ui/.env.production.local.example

# misc
src/ingest-ui/.DS_Store
src/ingest-ui/npm-debug.log*
src/ingest-ui/yarn-debug.log*
src/ingest-ui/yarn-error.log*

# editor
.vscode

#ignore the ui build dir
src/ingest-ui/build/*
!src/ingest-ui/build/README.md

#script config
scripts/prod_to_test/config.py
