openapi: 3.0.0
info:
  description: |
    This is the HuBMAP DataIngest API specification
  version: "1.0.0-oas3-test"
  title: HuBMAP DataIngest APIs
  termsOfService: "http://hubmapconsortium.org"
  contact:
    email: apiteam@hubmap.org
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: dataset
    description: Operations about dataset
    externalDocs:
      description: Find out more about our dataset
      url: "http://hubmapconsortium.org"
  - name: entity
    description: Operations about entity
    externalDocs:
      description: Find out more about our store
      url: "http://hubmapconsortium.org"
paths:
  /dataset/search:
    get:
      tags:
        - dataset
      summary: Get a list of HuBMAP datasets.
      operationId: serachDatasets
      parameters:
        - name: group
          in: query
          description: Lab Group
          required: false
          schema:
            type: string
        - name: keywords
          in: query
          description: search keywords
          required: false
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dataset"
        "400":
          description: Invalid parameters
        "401":
          description: User is not authorized to create datasets
  "/dataset/{datasetId}":
    get:
      tags:
        - dataset
      summary: Get HuBMAP dataset by id
      operationId: getDataset
      parameters:
        - name: datasetId
          in: path
          description: The unique UUID id of dataset
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dataset"
        "400":
          description: Invalid dataset Id
        "401":
          description: User is not authorized to create datasets
        "404":
          description: Dataset not found
    put:
      tags:
        - dataset
      summary: Modify HuBMAP dataset by id
      operationId: putDataset
      parameters:
        - name: datasetId
          in: path
          description: The unique UUID id of dataset
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dataset"
        "400":
          description: Invalid dataset Id
        "401":
          description: User is not authorized to create datasets
        "404":
          description: Dataset not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dataset"
        description: Updated dataset object
        required: true
  "/dataset/{datasetId}/validate":
    put:
      tags:
        - dataset
      summary: Validate dataset
      description: This can only be done by the logged in user.
      operationId: validateDataset
      parameters:
        - name: datasetId
          in: path
          description: datasetId that need to be validated
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "401":
          description: User is not authorized to create datasets
        "404":
          description: Dataset not found
  "/dataset/{datasetId}/publish":
    put:
      tags:
        - dataset
      summary: Publish dataset
      description: This can only be done by the logged in user.
      operationId: publishDataset
      parameters:
        - name: datasetId
          in: path
          description: datasetId that need to be validated
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "401":
          description: User is not authorized to publish datasets
        "404":
          description: Dataset not found
  "/dataset/{datasetId}/lock":
    put:
      tags:
        - dataset
      summary: Lock dataset
      description: This can only be done by the logged in user.
      operationId: lockDataset
      parameters:
        - name: datasetId
          in: path
          description: datasetId that need to be locked
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "401":
          description: User is not authorized to publish datasets
        "404":
          description: Dataset not found
  "/dataset/{datasetId}/reopen":
    put:
      tags:
        - dataset
      summary: Reopen dataset
      description: This can only be done by the logged in user.
      operationId: reopenDataset
      parameters:
        - name: datasetId
          in: path
          description: datasetId that need to be reopened
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "401":
          description: User is not authorized to publish datasets
        "404":
          description: Dataset not found
  /dataset:
    post:
      tags:
        - dataset
      summary: Creates a new HuBMAP dataset.
      operationId: addDataset
      responses:
        "201":
          description: successful created
        "400":
          description: name field is required to create a new dataset
        "401":
          description: User is not authorized to create datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dataset"
          application/xml:
            schema:
              $ref: "#/components/schemas/Dataset"
        description: Dataset object that needs to be created
        required: true
servers:
  - url: "https://uuid.hubmapconsortium.org/dataingest"
  - url: "http://uuid.hubmapconsortium.org/dataingest"
components:
  securitySchemes:
    globus_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: "https://auth.globus.org/v2/oauth2/authorize"
          scopes:
            "write:dataset": modify datasets
            "read:dataset": read datasets
    api_key:
      type: apiKey
      name: api_key
      in: header
  schemas:
    Dataset:
      type: object
      required:
        - name
        - collection
        - labCreatedAt
        - createdBy
        - status
      properties:
        id:
          type: string
        name:
          type: string
          example: Test Dataset
        collection:
          $ref: "#/components/schemas/Collection"
        labCreatedAt:
          $ref: "#/components/schemas/Lab"
        createdBy:
          $ref: "#/components/schemas/User"
        hasPHI:
          type: boolean
          example: false
        status:
          type: string
          example: publish
      xml:
        name: DataSet
    Entity:
      type: object
    EntityType:
      type: object
    Collection:
      type: object
      required:
        - name
      properties:
        id:
          type: string
        name:
          type: string
          example: Test Collection
      xml:
        name: Collection
    Lab:
      type: object
      required:
        - name
      properties:
        id:
          type: string
        name:
          type: string
          example: IEC Testing Group
      xml:
        name: Lab
    User:
      type: object
      required:
        - email
      properties:
        id:
          type: string
        email:
          type: string
          example: user@hubmap.org
      xml:
        name: User
