[NEO4J]
server =
username =
password =

[GLOBUS]
APP_CLIENT_ID = 
APP_CLIENT_SECRET = 
SECRET_KEY = 
STAGING_ENDPOINT_UUID = 
PUBLISH_ENDPOINT_UUID = 

[HUBMAP]
UUID_WEBSERVICE_URL = 
UUID_UI_URL =

[FILE_SYSTEM]
LOCAL_STORAGE_DIRECTORY = 
STAGING_ENDPOINT_FILEPATH = 
PUBLISH_ENDPOINT_FILEPATH =