version: "3.7"

# Will use the hostname when talking between services on the same network
services:
  
  ingest-api:
    build: 
      context: ./ingest-api-dev
      args:
        # The commons github branch to be used during image build (default to master if not set or null)
        - COMMONS_BRANCH=${COMMONS_BRANCH:-master}
    # Build the image with name and tag
    # Exit with an error message containing err if unset or empty in the environment
    image: ingest-api:${INGEST_API_VERSION:?err}
    hostname: ingest-api
    container_name: ingest-api
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    init: true
    restart: always
    # Map host machine port 80, 443 to container ports 8080 and 4430
    # Only root can listen on ports below 1024, we use higher-numbered ports
    # since nginx is running under non-root user hubmap
    ports:
      - "80:8080"
      - "443:4430"
      # ingest-api on http 7777 to be used by airflow
      - "7777:7777"
    environment:
      # This base user `hive` is used to run the application process within the container
      # It's also used for ACL settings of ingest-api app.cfg
      # Both UID and GID of user `hive` being used by the container
      # uid=68728(hive) gid=23629(hive) groups=23629(hive),1011(docker)
      - BASE_USER_NAME=${BASE_USER_NAME:-hive}
      - BASE_USER_UID=${BASE_USER_UID:-68728}
      - BASE_USER_GID=${BASE_USER_GID:-23629}
      # User `shirey`, group `hubmap`, and group `hubseq` are used for ACL settings of ingest-api app.cfg
      # Only UID of user `shirey` being used by the container
      # uid=50069(shirey) gid=23653(pitthive) groups=992(docker),23653(pitthive),23684(hivetest)
      - ADMIN_FILE_USER_NAME=${ADMIN_FILE_USER_NAME:-shirey}
      - ADMIN_FILE_USER_UID=${ADMIN_FILE_USER_UID:-50069}
      # GID of group `hubmap` and GID of group `hubseq` being used by the container
      # hubmap:*:24357:blood
      - CONSORTIUM_FILE_GROUP_NAME=${CONSORTIUM_FILE_GROUP_NAME:-hubmap}
      - CONSORTIUM_FILE_GROUP_GID=${CONSORTIUM_FILE_GROUP_GID:-24357}
      # hubseq:*:24358:blood
      - GENOMIC_DATA_FILE_GROUP_NAME=${GENOMIC_DATA_FILE_GROUP_NAME:-hubseq}
      - GENOMIC_DATA_FILE_GROUP_GID=${GENOMIC_DATA_FILE_GROUP_GID:-24358}
    volumes:
      # Mount the VERSION file and BUILD file
      - "../VERSION:/usr/src/app/VERSION"
      - "../BUILD:/usr/src/app/BUILD"
      # Mount the source code to container
      - "../src/ingest-api:/usr/src/app/src"
      # Mount the logging to container
      - "../log:/usr/src/app/log"
      # Mount ssl certificates from host to container
      - "/etc/pki/nginx:/etc/pki/nginx"
      # Mount conf.d to the nginx conf.d on container
      - "./ingest-api-dev/nginx/conf.d:/etc/nginx/conf.d"
      # favicon.ico
      - "./ingest-api-dev/nginx/html:/usr/share/nginx/html"
      # Mount Globus data
      - "/hive/hubmap-dev:/hive/hubmap-dev"
    networks:
      - hubmap

networks:
  hubmap:
