version: "3.7"

# Will use the hostname when talking between services on the same network
services:
  
  ingest-api:
    build: 
      context: ./ingest-api-refactor
      args:
        # The commons github branch to be used during image build (default to master if not set or null)
        - COMMONS_BRANCH=${COMMONS_BRANCH:-master}
    # Build the image with name and tag
    # Exit with an error message containing err if unset or empty in the environment
    image: ingest-api:${INGEST_API_VERSION:?err}
    hostname: ingest-api
    container_name: ingest-api
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      - HOST_GID=${HOST_GID:-1000}
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GLOBUS_MOUNT_DIR=/hubmap-data
    init: true
    restart: always
    volumes:
      # Mount the VERSION file and BUILD file
      - "../VERSION:/usr/src/app/VERSION"
      - "../BUILD:/usr/src/app/BUILD"
      # Mount the source code to container
      - "../src/ingest-api:/usr/src/app/src"
      # Mount the logging to container
      - "../log:/usr/src/app/log"
      # Mount Globus data
      - "/hubmap-data:/hubmap-data"
    networks:
      - gateway_hubmap

networks:
  # This is the network created by gateway to enable communicaton between multiple docker-compose projects
  gateway_hubmap:
    external: true
