# Neo4j connection
NEO4J_SERVER = 'bolt://hubmap-neo4j:7687'
NEO4J_USERNAME = 'neo4j'
NEO4J_PASSWORD = '123'

# Globus App ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# Globus Endpoint UUIDs
STAGING_ENDPOINT_UUID = ''
PUBLISH_ENDPOINT_UUID = ''

# File system settings
LOCAL_STORAGE_DIRECTORY = '/home/temp'
STAGING_ENDPOINT_FILEPATH = '/hubmap-data/test-stage'
PUBLISH_ENDPOINT_FILEPATH = '/hubmap-data/test-data'

# URL for talking to UUID API
# Don't use localhost since uuid-api running on a different container
UUID_WEBSERVICE_URL = 'http://hubmap-auth:9999/hmuuid'

# URL of UUID UI for Cross-Origin Resource Sharing (CORS)
UUID_UI_URL = 'http://localhost:8585'

# For UI login/logout
# Flask app session key
SECRET_KEY = 'a%@3k9Hdlkfjakjajf99adsf909oel'

# Need the trailing slash /
FLASK_APP_BASE_URI = 'http://localhost:8484/'

# React app name and deployment URI
GLOBUS_CLIENT_APP_NAME = 'HuBMAP UUID Generator'
GLOBUS_CLIENT_APP_URI = 'http://localhost:8585/'
