# Set to True for local non-docker development
# Set to False when deployment with docker (Gateway nginx handles CORS)
ENABLE_CORS = False

# Neo4j connection (default value used for docker dev environment)
# Point to remote neo4j for testing and production deployment
NEO4J_SERVER = 'bolt://hubmap-neo4j:7687'
NEO4J_USERNAME = 'neo4j'
NEO4J_PASSWORD = '123'

# Globus App ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# Globus Endpoint UUID
GLOBUS_ENDPOINT_UUID = ''

# Admin group UUID
HUBMAP_DATA_ADMIN_GROUP_UUID = ''

# File system settings (shown are for DEV)
LOCAL_STORAGE_DIRECTORY = '/hive/hubmap-dev/uploads'
GLOBUS_ENDPOINT_FILEPATH = '/hive/hubmap-dev/protected'
HUBMAP_WEBSERVICE_FILEPATH = '/hive/hubmap-dev/assets'
WORKFLOW_SCRATCH = '/hive/hubmap-dev/scratch'

# UUIDs of the Globus endpoints (shown are for DEV)
GLOBUS_PUBLIC_ENDPOINT_UUID = 'a00a00b8-d1d1-4ab9-b915-0bada54c27a3'
GLOBUS_CONSORTIUM_ENDPOINT_UUID = '3cb7d673-a3db-40e9-8376-f2ead6cb5a45'
GLOBUS_PROTECTED_ENDPOINT_UUID = 'bdaf8547-aab3-4142-97bd-0a16d5cd9f58'

# File paths of the Globus endpoints (shown are for DEV, change for TEST/STAGE/PROD deployment)
GLOBUS_PUBLIC_ENDPOINT_FILEPATH = '/hive/hubmap-dev/public'
GLOBUS_CONSORTIUM_ENDPOINT_FILEPATH = '/hive/hubmap-dev/consortium'
GLOBUS_PROTECTED_ENDPOINT_FILEPATH = '/hive/hubmap-dev/protected'

# File Access Control List Settings to be used by `setfacl` command
# Set value to `hubmap` for all the following users and groups on localhost docker mode
GLOBUS_BASE_FILE_USER_NAME = 'hive'
GLOBUS_ADMIN_FILE_USER_NAME = 'shirey'
GLOBUS_GENOMIC_DATA_FILE_GROUP_NAME = 'hubseq'
GLOBUS_CONSORTIUM_FILE_GROUP_NAME = 'hubmap'


# URL for talking to UUID API (default value used for localhost docker environment)
# Don't use http://localhost since uuid-api running on a different container
# Point to remote https URL for DEV/TEST/STAGE/PROD deployment
UUID_WEBSERVICE_URL = 'http://hubmap-auth:9999/hmuuid'

# Must no trailing slash /
# Default works with only localhost deployment
SEARCH_WEBSERVICE_URL = 'http://hubmap-auth:6666'

#URL to the entity-api web service
ENTITY_WEBSERVICE_URL = 'http://hubmap-auth:????'

# For UI login/logout
# Flask app session key
SECRET_KEY = 'a%@3k9Hdlkfjakjajf99adsf909oel'

# Need the trailing slash /
FLASK_APP_BASE_URI = 'http://localhost:8484/'

# React app name and deployment URI (default value used for docker dev environment)
GLOBUS_CLIENT_APP_NAME = 'HuBMAP Data Ingest'
# Point to remote URL for testing and production deployment
GLOBUS_CLIENT_APP_URI = 'http://localhost:8585/'

# URL for the ingest pipeline API.  No trailing '/'
INGEST_PIPELINE_URL = 'http://ingest-pipeline:8789/api/hubmap'
# internal test: INGEST_PIPELINE_URL = 'http://localhost:5005/datasets/submissions'

# Default processing type for ingest pipeline API.
INGEST_PIPELINE_DEFAULT_PROCESS = 'SCAN.AND.BEGIN.PROCESSING'

