# Backend API services, shown for DEV
REACT_APP_BACKEND_URL = 'https://ingest-api.dev.hubmapconsortium.org'
REACT_APP_DATAINGEST_API_URL = 'https://ingest-api.dev.hubmapconsortium.org'
REACT_APP_SPECIMEN_API_URL = 'https://ingest-api.dev.hubmapconsortium.org'
REACT_APP_METADATA_API_URL = 'https://ingest-api.dev.hubmapconsortium.org'
REACT_APP_ENTITY_API_URL = 'https://entity-api.dev.hubmapconsortium.org'
REACT_APP_SEARCH_API_URL = 'https://search-api.dev.hubmapconsortium.org/v3'
REACT_APP_PORTAL_URL = 'https://portal.dev.hubmapconsortium.org/'
REACT_APP_UBKG_API_URL = 'https://ontology-api.dev.hubmapconsortium.org'

# UI URL (default value used for local development)
# Point to remote URL for testing and production deployment
REACT_APP_URL = 'http://localhost:8585'
# REACT_APP_URL = 'https://ingest.test.hubmapconsortium.org'
# REACT_APP_URL = 'https://ingest.dev.hubmapconsortium.org'

# Link to the registration/profile system
REACT_APP_PROFILE_URL = 'https://profile.hubmapconsortium.org'

# HuBAMP Globus Read Only Group ID
REACT_APP_READ_ONLY_GROUP_ID = '5777527e-ec11-11e8-ab41-0af86edb4424'

# HuBMAP Globus Data Admin Group Name
REACT_APP_HUBMAP_DATA_ADMIN_GROUP = 'HuBMAP-data-admin'

# RUI Base URL
REACT_APP_RUI_BASE_URL = 'https://cdn.jsdelivr.net/gh/hubmapconsortium/ccf-ui@3/rui/'

REACT_APP_INGEST_BOARD_URL = 'https://ingest-board.dev.hubmapconsortium.org/'

# The Usergroup IDS associated with Currators and Admin
REACT_APP_DATA_ADMIN = '89a69625-99d7-11ea-9366-0e98982705c1'
REACT_APP_DATA_CURATOR = '75804b96-d4a8-11e9-9da9-0ad4acb67ed4'